<div class="work-container">
    <section class="introduction">
        <h1>
            Eduardo Corrêa
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et.
        </p>
    </section>
    <section class="work">
        <job-card job="matera" header="Desenvolvedor FullStack Júnior · Matera" date="SET 2024 - HOJE"
            [skills]="materaSkills">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non consequat purus. Vestibulum ante ipsum
            primis in faucibus orci luctus et ultrices posuere cubilia curae;
            Sed sed leo rutrum risus blandit commodo id euismod leo. Suspendisse velit odio, gravida vitae molestie
            eget, pretium at odio. Nullam pulvinar ligula efficitur metus lacinia, a consequat magna molestie. Proin
            ultricies consequat risus, a laoreet sapien sodales vitae. Donec at elit vel tortor aliquam elementum. Morbi
            volutpat eros at posuere dignissim. Duis eu quam posuere, iaculis nibh sit amet, tincidunt purus. Cras
            lobortis elementum nulla, at iaculis sapien convallis quis. Cras commodo, lectus ut pretium vulputate, nibh
            erat finibus dolor, et euismod risus nibh a mauris.
        </job-card>
    </section>
</div>