<div class="card-container">
    <div class="image-container">
        <img [src]="imgSrc" alt="">
    </div>
    <div class="info">
        <div class="header-container">

            <h2 class="header">
                {{header}}
            </h2>

            <div class="date">
                {{date}}
            </div>
        </div>

        <div class="description">
            <ng-content>

            </ng-content>
        </div>

        <ul class="skills">
            <li class="skill badge" *ngFor="let skill of skills">
                {{skill}}
            </li>
        </ul>
    </div>
</div>