.card-container {
    width: 100%;
    height: fit-content;

    gap: 2rem;
    padding: 1.5rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: flex-start;

    border: 1px solid rgb(var(--R03), 0.5);
    background: var(--card-bg);
    backdrop-filter: blur(5px);

    .image-container {
        height: fit-content;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .info {
        width: 100%;
        height: fit-content;

        gap: 1rem;
        padding-top: 0.5rem;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .header-container {
            width: 100%;
            height: fit-content;

            gap: 0.5rem;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            .header {
                color: var(--H0);
            }

            .date {
                font: var(--b3);
                color: var(--H02);
            }
        }

        .description {
            font: var(--b1);
        }

        .skills {
            width: 100%;
            height: fit-content;

            gap: 0.5rem;
            margin: 1rem 0 0 -0.2rem;
            padding: 0;

            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            flex-wrap: wrap;
            list-style: none;
        }
    }
}