.navbar-container {
    width: fit-content;
    height: auto;

    left: 0;
    right: 0;
    top: 0rem;

    z-index: 999;

    position: fixed;
    align-self: center;
    margin-inline: auto;

    .pages {
        width: fit-content;
        height: fit-content;

        gap: 0.5rem;
        border-radius: 5rem;
        padding: 0.4rem;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        list-style: none;
        user-select: none;

        background-color:  rgb(var(--R01), 0.45);
        border: 1px solid rgb(var(--R01));
        backdrop-filter: blur(10px);

        .page {
            font: var(--b2);
            border-radius: 5rem;
            padding: var(--gap-05) var(--gap-10);
            
            cursor: pointer;
            
            transition: var(--standart-transition);

            &.active {
                color: var(--white);
                background-color: rgb(var(--R03), 0.4);

                &:hover {
                    background-color: rgb(var(--R03), 0.5);
                }
            }

            &:hover {
                background-color: rgb(var(--R03), 0.2);
            }
        }
    }
}